In [10]:
import pandas as pd
import numpy as np

In [2]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [3]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [4]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

In [5]:
doi_df_first_author.merge(doi_df_journal)

# in python automatisch erkannt über welche var. das matching läuft, da beide gleich heißen
# default: inner join

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [5]:
doi_df_first_author.merge(doi_df_journal, on="DOI")

# bei verschiedenen variablenbezeichnungen
# nutzung von left_on = "DOI", right_on= "doi"

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [8]:
doi_df_first_author.merge(doi_df_journal, how = "outer")
# right join, outer join

                              DOI first_author             journal
0      10.1038/s41598-019-52881-4          NaN             Sci Rep
1       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
2  10.12688/f1000research.18866.2        Thang            F1000Res
3    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
4             10.21105/joss.01006      Granger                 NaN
5             10.21105/joss.01035       Sparks                JOSS

In [17]:
outer_merge = doi_df_first_author.merge(doi_df_journal, how = "outer")
outer_merge[outer_merge["first_author"].isna() | outer_merge["journal"].isna()]

                          DOI first_author  journal
0  10.1038/s41598-019-52881-4          NaN  Sci Rep
4         10.21105/joss.01006      Granger      NaN

In [11]:
outer_merge = doi_df_first_author.merge(doi_df_journal, how = "outer")
outer_merge_nan = outer_merge[outer_merge.isna().any(axis=1)] # axis = 1 wählt alle zeile aus die mind 1 NA haben
# outer_merge_nan["first author"].isna() | outer_merge_nan["journal"].isna()

In [12]:
print(outer_merge_nan)

                          DOI first_author  journal
0  10.1038/s41598-019-52881-4          NaN  Sci Rep
4         10.21105/joss.01006      Granger      NaN

In [18]:
# list comprehension (funktionale programmierung)
numbers = [4, 9, 7, 1, 3]
for i in numbers: 
    print(i*2)

8
18
14
2
6

In [19]:
double_values=[]
for i in numbers:
    double_values.append(i*2)

In [20]:
double_values

[8, 18, 14, 2, 6]

In [21]:
double_values = [i*2 for i in numbers] 
# hier keine for-schleife, sondern list comprehension

In [22]:
double_values

[8, 18, 14, 2, 6]

In [40]:
# pandas apply method 

doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [24]:
"Sparks Adam H.".split() # split als methode um string aufzuteilen, zurück kommt eine liste
                            # default: split nach leerzeichen

['Sparks', 'Adam', 'H.']

In [25]:
"Sparks Adam H.".split("a") # nimmt "a" als separator, diesser teil fällt weg

['Sp', 'rks Ad', 'm H.']

In [26]:
"Sparks Adam H.".split(" ")

['Sparks', 'Adam', 'H.']

In [28]:
split_by_a = "Sparks Adam H.".split("a")

In [30]:
split_by_a

['Sp', 'rks Ad', 'm H.']

In [35]:
fixed_split_by_a = [i + "a" for i in split_by_a]

In [36]:
fixed_split_by_a # hier wird ein a am ende auch noch angehangen

['Spa', 'rks Ada', 'm H.a']

In [37]:
fixed_split_by_a = [i + "a" for i in split_by_a[:-1]] + [split_by_a[-1]]

In [38]:
fixed_split_by_a

['Spa', 'rks Ada', 'm H.']

In [41]:
# doi_df_first_author_2["first_author"].apply()

TypeError: Series.apply() missing 1 required positional argument: 'func'

In [43]:
def split_string():
    print("Sparks Adam H.".split(" ")) # funktion hier noch ungenerisch

In [44]:
split_string()

['Sparks', 'Adam', 'H.']

In [45]:
def split_string(i):
    print(i.split(" "))

In [46]:
split_string("Sparks Adam H.")

['Sparks', 'Adam', 'H.']

In [47]:
def split_string(i):
    return i.split(" ")

In [48]:
def last_name_only(i):
    return i.split(" ")[0]

In [49]:
last_name_only("Sparks Adam H.")

'Sparks'

In [50]:
doi_df_first_author_2["first_author"]

0        Blischak J.
1     Sparks Adam H.
2    Granger Nicolas
3              Thang
4         Chen Danze
Name: first_author, dtype: object

In [51]:
doi_df_first_author_2["first_author"].apply(last_name_only) # apply hat als argument eine funktion, die es anwenden kann

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

In [52]:
doi_df_first_author_2["cleaned_first_author"] = doi_df_first_author_2["first_author"].apply(last_name_only)

In [53]:
doi_df_first_author_2

                             DOIs     first_author cleaned_first_author
0    10.1371/journal.pcbi.1004668      Blischak J.             Blischak
1             10.21105/joss.01035   Sparks Adam H.               Sparks
2             10.21105/joss.01006  Granger Nicolas              Granger
3  10.12688/f1000research.18866.2            Thang                Thang
4       10.1186/s12859-019-3171-0       Chen Danze                 Chen